In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
path_data = os.path.join('D:', 'Zillow', 'properties_2016.csv')
raw_data = pd.read_csv(path_data)
path_data = os.path.join('D:', 'Zillow', 'train_2016_v2.csv')
log_errors = pd.read_csv(path_data)

C:\Users\chris\Anaconda3\envs\mlp\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
raw_data.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [4]:
log_errors.head()

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

In [5]:
print('There are {0} rows and {1} columns in the features dataset'.format(raw_data.shape[0],raw_data.shape[1]))

There are 2985217 rows and 58 columns in the features dataset

In [6]:
print('There are {0} rows and {1} columns in the errors dataset'.format(log_errors.shape[0],log_errors.shape[1]))

There are 90275 rows and 3 columns in the errors dataset

In [7]:
log_errors['transactiondate']= pd.to_datetime(log_errors['transactiondate'])

In [9]:
#create time features
log_errors['Month'] = pd.DatetimeIndex(log_errors['transactiondate']).month
log_errors['Day'] = pd.DatetimeIndex(log_errors['transactiondate']).weekday_name
log_errors['Year'] = pd.DatetimeIndex(log_errors['transactiondate']).year

In [10]:
log_errors.head()

   parcelid  logerror transactiondate  Month       Day  Year
0  11016594    0.0276      2016-01-01      1    Friday  2016
1  14366692   -0.1684      2016-01-01      1    Friday  2016
2  12098116   -0.0040      2016-01-01      1    Friday  2016
3  12643413    0.0218      2016-01-02      1  Saturday  2016
4  14432541   -0.0050      2016-01-02      1  Saturday  2016

In [12]:
# dublicates
temp = log_errors['parcelid'].unique()
temp.shape

In [11]:
raw_data.dtypes

parcelid                          int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                   object
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
poolcnt                         float64
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode        object
propertylandusetypeid           float64
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                    object
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
censustractandblock             float64
dtype: object